{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="span2">
        <h6 class="text-info">Currently Viewing:</h6>

    </div>
    <div class="span10">
        <h3>Workflow Placeholder</h3>
    </div>
</div>
<div class="row">
    <div class="span2">
        <h6 class="text-info">Open Apps:</h6>
        {% for app in open_apps %}
        <h4>{{app.applicant.username}}</h4>
        {% empty %}
        <h4>No Open Applications</h4>
        {% endfor %}
    </div>
    <div class="span10 well" id="application-holder-div">

    </div>
</div>
{% endblock %}
